body,html{
    overflow:hidden;
    /*height: 100%;*/
}
.root{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.root video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
    /*transition: all 1s;*/
}


.hidden{
    z-index: -10!important;
    /*opacity: 0!important;*/
    pointer-events: none!important;
    border: none!important;
}

.control{
    border: 1px solid red;
}
.video1,.touchTarget{
    width: 68.6%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    border: none!important;
}


.touchTarget{
    border: 1px solid red;
    z-index: 90!important;
    position: relative;


}

.gyroCont{
    width: 9.25%;
    height: 11.11%;
    position: absolute;
    left: 25.17%;
    top: 27.31%;
    z-index: 100;
}



.turnKnob{
    width: 7.25%;
    height: 22.22%;
    position: absolute;
    left: 78.2%;
    top: 72.22%;
    z-index: 100;
}



.targetKnob{
    width:  8.25%;
    height:  22.22%;
    position: absolute;
    left: 80.2%;
    top: 50.22%;
    z-index: 100;
}

.fireLever{
    width:  8.29%;
    height:  20.83%;
    position: absolute;
    left: 65.6%;
    top: 72%;
    z-index: 100;
}